body{
    background-color: antiquewhite;
}
h3{
    text-align: center;
}

/*LIBROS*/
#container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#container > *{
    flex: auto;
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 200px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*MENUS*/
#menu{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 30px;
    
}

#menu > *{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-evenly;
    
}

#menu2, #menu3{
    display: none;
}

#menu1 > *, #menu2 > *, #menu3 > * {
    margin: 3px;
}


.inline{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inline > div{
    width: 25%;
}

.inline > input{
    width: 75%;
}

select, #eliminarLibro, #editar, .inline{
    width: 100%;
}



